*, *::before, *::after{
  box-sizing:border-box;
 }

img{
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

body{
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  color: $text-gray900;
}

a{
  text-decoration: none;
  display: block;
  color: $text-gray900;
  &:hover{
    color: $text-success;
  }
}