main{
  // transform: translateX(296px);
  margin-left: 296px;
  width: 984px;
  padding: 32px;
  .top-bar{
    h2{
      font-size: 24px;
      line-height: 1.375;
      margin-right: 50px;
    }

    p{
      margin-right: 9px;
    }

    .dropdown p:hover,.dropdown .active p{
      color: $text-success !important;
    }

    .dropdown-open{
      display: none;
      z-index: 1;
      background: #fff;
      a:hover{
        background: $text-success;
        color: #fff !important;
      }
    }
  }
}

.list{
  width: 320px;
  .dropdown-open{
    display: none;
    z-index: 1;
    background: #fff;
    a:hover{
      background: $text-success;
      color: #fff !important;
    }
  }
  li:hover{
    background: $primary;
  }
}

.commit{
  width: 584px;
  img{
    min-width: 40px;
    height: 40px;
  }
  .download{
    width: 176px;
    padding-left: 12px;
  }

  .none{
    display: none !important;
  }
  .change{
    display: block !important;
  }
}

