.font-12{font-size: 12px;}
.font-14{font-size: 14px;}
.p0{padding: 0;}
.p-12{padding: 12px;}
.p-32{padding: 32px;}
.pt-18{padding-top: 18px !important;}
.pb-12{padding-bottom: 12px;}
.py-8{padding: 8px 0;}
.px-16{padding: 0 16px;}
.py-9{padding: 9px 0;}
.py-12{padding: 12px 0;}
.py-18{padding: 18px 0;}
.mr-9{margin-right: 9px;}
.ml-12{margin-left: 12px;}
.mb-6{margin-bottom: 6px;}
.mb-12{margin-bottom: 12px;}
.mb-44{margin-bottom: 44px;}

.text-success{color: $text-success}
.text-gray600{color: $text-gray600}
.text-gray900{color: $text-gray900}
.bgr-primary{background: $primary;}
.bgr-fff{background: #fff;}